{% extends "base.html" %}
{%load static%}
{% block title_head %} 
Buscar Modelo 
{% endblock title_head%}
{% block h1_header %} Buscar Modelo {% endblock h1_header %}
{% block main %}

<form action = {% url "inicio:buscar_modelo" %}>
    {{form}}
    <input type ="submit">
</form>

{% if vestido %}
<ul>
    {% for vestido in Vestido %}
    <li>{{vestido}} | <a href={% url "inicio:ver_modelo"  vestido.id %}> Ver mas</a> | <a href={% url "inicio:eliminar_modelo"  vestido.id %}>Eliminar</a> | <a href={% url "inicio:editar_modelo"  vestido.id %}>Editar</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No hay vestidos ingresados</p>
{%endif%}


{% endblock main  %}
